.Navbar{
  height: 100px;
  width: 100%;
  background-color: #282c34;
  color:#4e545f ;
}
.logo{
  width:180px;
  height: 99px;
  display: inline;
}

.link{
  color:#8f9091 ;
  text-decoration: none;
  padding: 55px;
  font-size: 16px;
}

.link:hover{
font-size: 18px;
text-decoration: none;
color:white ;
}

.AboutUsTitle{
  text-align: center;
  margin-top: 2%;
  color: #282c34;
  font-weight: bolder;
}

.AboutUsPara{
  text-align: center;
  height: auto;
  width: 700px;
  font-size: large;
  padding: 10;
}

.AboutContainer{
  width:auto;
  height: auto;
  margin-left: 27%;
  margin-top: 3%;
}

.AboutSpan{
  color: #282c34;
  font-size: larger;
  font-weight: bolder;
}

.PTh2{
  text-align: center;
  font-weight: bolder;
  color: #282c34;
}

.PTh3{
  text-align: center;
  font-weight: bold;
  color: #282c34;
  margin-top: 1%;
}

.PTh4{
  text-align: center;
  font-weight: bold;
  color: #282c34;
  margin-top: 2%;
}

.PTpContainer{
  text-align: center;
  height: auto;
  width: 900px;
  font-size: large;
  padding: 10;
  margin-left: 24%;
  margin-top: 2%;
}

.PTp{
  text-align: center;
  font-size: large;
  padding: 10;
}

.PTUL{
  text-align: center;
  font-size: large;
  display: inline;
  list-style: decimal;
}

.IPh3{
  text-align: center;
  font-weight: bold;
  color: #282c34;
  margin-top: 1%;
}

.IPpContainer{
  text-align: center;
  height: auto;
  width: 900px;
  font-size: large;
  padding: 10;
  margin-left: 24%;
  margin-top: 2%;
}

.IPp{
  text-align: center;
  font-size: large;
  padding: 10;
}


.IPh4{
  text-align: center;
  font-weight: bold;
  color: #282c34;
  margin-top: 2%;
}

.IPTable{
  width: 75%;
  margin-left: 12%;
}

.PLh3{
  text-align: center;
  font-weight: bold;
  color: #282c34;
  margin-top: 1%;
}

.PLpContainer{
  text-align: center;
  height: auto;
  width: 900px;
  font-size: large;
  padding: 10;
  margin-left: 24%;
  margin-top: 2%;
}

.PLp{
  text-align: center;
  font-size: large;
  padding: 10;
}

.Lh3{
  text-align: center;
  font-weight: bold;
  color: #282c34;
  margin-top: 1%;
}

.Lh4{
  text-align: center;
  font-weight: bold;
  color: #282c34;
  margin-top: 2%;
}

.LulContainer{
  margin-left: 50%;
}

.Lul{
  list-style-type: none;
  font-size: larger;
  font-weight: 500;
  color: #282c34;
}

.LpContainer{
  text-align: center;
  height: auto;
  width: 900px;
  font-size: large;
  padding: 10;
  margin-left: 24%;
  margin-top: 2%;
}

.Lp{
  text-align: center;
  font-size: large;
  padding: 10;
}

.CUh3{
  text-align: center;
  font-weight: bold;
  color: #282c34;
  margin-top: 1%;
}

.CUFormContainer{
  width: 25%;
  margin-top: 1%;
  margin-left: 37%;
}
.accordion-button{
  color:#4e545f  !important;
  background-color: #282c34 !important;
  margin-top: 4%;
  border-radius: 7px !important;
}
.accordion-button:hover{
  color: whitesmoke !important;
}
.accordion-item{
  width: 65%;
  margin-left: 17.7%;
  margin-top: 2%;
  border: none !important;
}
tbody,thead{
  text-align: center;
}
.form-control[name^=me]{
  height: 150px ;
}



